<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".features.adhoc_charging.ui.AdHocChargingActivity"
            android:exported="false"
            android:theme="@style/Theme.ElvahChargeAndroid">
            <intent-filter>
                <data
                    android:host="www.elvah.de"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>
